<%= link_to projects_path do %>
  <h4 id="results-back"><i class="fas fa-arrow-left" id="results-back"></i> Search Results</h4>
<% end %>
<% if @search_projects.size.positive? %>
  <h4>(<%= @search_projects.size %>) Projects found</h4>
  <hr style="color: grey">
  <div class="my-perm-index">
    <div class="index-cards">
      <% @search_projects.each do |project| %>
        <%= link_to project_path(project) do %>
          <div class="card">
            <div class="project-sections">
              <div class="card-top">
                <h1 class="charcoal"><strong> Title: </strong><%= project.name %></h1>
              </div>
            </div>
          </div>
          <% end %>
              <h5 class="charcoal">Language(s): <%= project.languages %></h5>
        <% end %>
    </div>
  </div>
<% else %>
<h4>Nothing found!</h4>
<p>Please re-do search or click "Search Results" to go back</p>
<% end %>
