<div class="container col-5">
  <h1 class="text-center my-3" style="color: black;">Create a project</h1>

  <%= simple_form_for(@project) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs" style="color: black;" >
      <%= f.input :name, placeholder: 'Title for your Project or Resources' %>
      <%= f.input :link, placeholder: 'Add a link' %>
      <%= f.input :languages, placeholder: 'Used language(s)' %>
      <%= f.input :description, placeholder: 'Describe your resource' %>
      <%= f.input :technology, placeholder: 'Technology used (AWS, Git, Web, Machine learning...)' %>
      <%= f.input :framework, placeholder: '(Django, Flask, Springboot...)' %>
      <%= f.input :database, placeholder: 'DataBase used: (Mysql, Postgresql, MangoDB...)' %>
      <%= f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name, input_html: {multiple: true} %>
      <%= f.input :photo %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
