
<div class="container col-5">
  <h1 class="text-center my-3">Create a project</h1>

  <%= simple_form_for(@project) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs" >
      <%= f.input :name %>
      <%= f.input :link %>
      <%= f.input :languages %>
      <%= f.input :description %>
      <%= f.input :technology %>
      <%= f.input :framework %>
      <%= f.input :database %>
      <%= f.input :photo %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
