<h1>Review your Project</h1>

<h2><%= @project.name %></h2>
<h2><%= @project.link %></h2>
<h2><%= @project.languages %></h2>
<h2><%= @project.description %></h2>
<h2><%= @project.database %></h2>
<h2><%= @project.framework %></h2>
<h2><%= @project.technology %></h2>
