<h1>Review your Project</h1>

<h2>Title: <%= @project.name %></h2>
<h2>URL / LINK: <%= @project.link %></h2>
<h2>Languages: <%= @project.languages %></h2>
<h2>Description: <%= @project.description %></h2>
<h2>Database: <%= @project.database %></h2>
<h2>Framework: <%= @project.framework %></h2>
<h2>Technology: <%= @project.technology %></h2>
