<h1>Review your Project</h1>

<h2>Title: <%= @project.name %></h4>
<h4>URL / Link:</h4><a href="<%= @project.link %>" target="_blank"><%= @project.link %></a>
<h4>Languages: <%= @project.languages %></h4>
<h4>Description: <%= @project.description %></h4>
<h4>Database: <%= @project.database %></h4>
<h4>Framework: <%= @project.framework %></h4>
<h4>Technology: <%= @project.technology %></h4>
<h4>File: <%= @project.photo %></h4>
